.nav-header {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.workarea {
  display: flex;
}

.upload {
  display: grid;
  align-items: left;
  justify-content: center;
  border: 2px solid rgb(151, 150, 150);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  flex: 0.25;
}

.canvas {
  display: grid;
  justify-content: center;
  border: 2px solid rgb(151, 150, 150);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  flex: 0.5;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: flex-end;
  border: 2px solid rgb(151, 150, 150);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  flex: 0.25;
  height: 700px;
}

#uploadedImage {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.message-history {
  display: grid;
  align-items: left;
  justify-content: center;
  border: 2px solid rgb(151, 150, 150);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  flex: 1.5;
  width: 400px;
  height: 80vh;
}

.message-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.user-message {
  align-self: flex-end;
  background: lightblue;
  padding: 10px;
  border-radius: 5px;
  margin: 0.25rem;
}

.ai-message {
  align-self: flex-start;
  background: rgb(185, 227, 185);
  padding: 10px;
  border-radius: 5px;
  margin: 0.25rem;
}

.input-message {
  flex-grow: 1;
  margin-right: 10px;
}

#btn-message-send {
  margin-left: auto;
}

.add-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-image-container .checkbox-group {
  display: flex;
  align-items: center;
}

.add-image-container input[type="checkbox"] {
  margin-right: 5px;
}

.add-image-container label {
  margin-right: 25px;
}

.model-selection {
  display: flex;
  align-items: center;
}

#model-select {
  min-width: 150px;
}

#conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Added to make it take full height of parent */
  overflow-y: auto;
  /* Added to enable scrolling if needed */
}